<%= form_with model: word do |form| %>
  <div>
    <%= form.label :word %><br>
    <%= form.text_field :word %>

    <% word.errors.full_messages_for(:word).each do |message| %>
      <div><%= message %></div>
    <% end %>

  </div>

  <div>
    <%= form.label :part_of_speech %><br>
    <%= form.text_field :part_of_speech %>

    <% word.errors.full_messages_for(:part_of_speech).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :definition %><br>
    <%= form.text_area :definition %>

    <% word.errors.full_messages_for(:definition).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
